<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>LongMoneyOffShore:DLRTM </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>

<br>
<br>

<div class="row" style="background-color:#000000; color:#FFFFFF;">
    <div class="column">
        <form method="post" action="/createNewProduct">

            <h2>Create new product: :</h2>

            <input type="text" id="new-product-uniqueID" name="uniqueID" placeholder="Product Unique ID"/>
            <br>
            <input type="text" id="new-product-name" name="name" placeholder="Product Name"/>
            <br>
            <input type="text" id="new-product-manufacturer" name="manufacturer" placeholder="Product manufacturer"/>
            <br>
            <input type="text" id="new-product-countryOfOrigin" name="countryOfOrigin"
                   placeholder="Product country Of Origin"/>
            <br>
            <input type="text" id="new-product-description" name="description" placeholder="Product description"/>
            <br>
            <input type="text" id="new-product-unitPrice" name="unitPrice" placeholder="Product Price"/>
            <br>
            <input type="text" id="new-product-specialOffers" name="specialOffers" placeholder="Special Offers"/>
            <br>
            <input type="text" id="new-product-itemsInStockInt" name="itemsInStockInt" placeholder="Items in stock"/>
            <br>
            <input type="text" id="new-product-specialMentions" name="specialMentions" placeholder="Special Mentions"/>
            <br>

            <input type="submit" id="select-button" value="Create"/>
        </form>

    </div>

</div>


<div class="row" style="background-color:#DD0000; color:#FFFFFF;">
    <div class="column">
        <div class="container">
            <div th:if="${not #lists.isEmpty(clients)}">
                <h2>Product Lists</h2>
                <table class="table table-striped">
                    <tr>
                        <th>Id</th>
                        <th>Product Name</th>
                        <th>Purchase price</th>
                    </tr>

                    <tr th:each="product : ${products}">
                        <td th:text="${product.productUniqueID}"></td>
                        <td th:text="${product.productName}"></td>
                        <td th:text="${product.productUnitPrice}"></td>
                    </tr>

                </table>
            </div>
        </div>

    </div>

    <form action="/showStore" method="get">
        <input type="submit" id="back-to-store-button" value="Back To Store"/>
    </form>

</div>



<br>
<br>

</body>
</html>



