<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>LongMoneyOffShore : DLRTM </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<p th:text="'Hello, ' + ${name} + '!'" />


<div class="container">
    <div th:if="${not #lists.isEmpty(clients)}">
        <h2>Client Lists</h2>
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Client Name</th>
            </tr>

            <tr th:each="client : ${clients}">
                <td th:text="${client.clientID}"></td>
                <td th:text="${client.clientName.clientFirstName}"></td>
                <td th:text="${client.clientName.clientLastName}"></td>
            </tr>

        </table>
    </div>
</div>

<br>
<br>


</body>
</html>



