<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>LongMoneyOffShore:DLRTM </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>
<p th:text="'Hello, ' + ${name} + '!'"/>


<div class="container">
    <div th:if="${not #lists.isEmpty(clients)}">
        <h2>Client Lists</h2>
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Client Name</th>
            </tr>

            <tr th:each="client : ${clients}">
                <td th:text="${client.clientID}"></td>
                <td th:text="${client.clientName.clientFirstName}"></td>
                <td th:text="${client.clientName.clientLastName}"></td>
            </tr>

        </table>
    </div>
</div>


<form method="post" action="/presentProducts">
    <h2>Select Client:</h2>
    <input type="text" id="select-client-text-input" name="selectedClientID"/>
    <input type="submit" id="say-hello-button" value="Select"/>
</form>









<!--<form action="#" th:action="@{/fooform}" th:object="${command}" method="post">
    <th>Enter Client ID</th>

    <p>Simple Text Field: <input type="text" th:field="*{clientID}" /></p>
</form>-->

<!--<input type="text" th:field = "*{selectedCustomerID}"/>-->

<!--<form id="triggerform" method="post" action="">
    <input type="text" th:field = "*{selectedCustomerID}"/>
    <input type="submit" value="Choose this client to show with"/>

</form>-->


<br>
<br>

<br>
<br>

</body>
</html>



