<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN"
        "http://www.w3.org/TR/html4/frameset.dtd">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>LongMoneyOffShore:DLRTM </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
* {
  box-sizing: border-box;
}

/* Create two columns that float next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
}
.left {
  width: 75%;
}
.right {
  width: 25%;
}



/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


    </style>
</head>

<body>

<div class="row" style="background-color:#000000; color:#FFFFFF;">
    <div class="column">
        <div class="container">
            <div th:if="${not #lists.isEmpty(clients)}">
                <h2>Client Lists</h2>
                <table class="table table-striped">
                    <tr>
                        <th>Id</th>
                        <th>Client Name</th>
                    </tr>

                    <tr th:each="client : ${clients}">
                        <td th:text="${client.clientID}"></td>
                        <td th:text="${client.clientName.clientFirstName}"></td>
                        <td th:text="${client.clientName.clientLastName}"></td>
                    </tr>

                </table>

            </div>
        </div>

    </div>

    <!-- <div class="column">
         <h2>Select Client:</h2>
         <input type="text" id="select-client-text-input" name="selectedClientID"/>
     </div>-->

</div>


<div class="row" style="background-color:#DD0000; color:#FFFFFF;">
    <div class="column">
        <div class="container">
            <div th:if="${not #lists.isEmpty(products)}">
                <h2>Product Lists</h2>
                <table class="table table-striped">
                    <tr>
                        <th>Id</th>
                        <th>Product Name</th>
                        <th>Purchase price</th>
                    </tr>

                    <tr th:each="product : ${products}">
                        <td th:text="${product.productUniqueID}"></td>
                        <td th:text="${product.productName}"></td>
                        <td th:text="${product.productUnitPurchasePrice}"></td>
                    </tr>

                </table>
            </div>
        </div>

    </div>
    <div class="column">

        <!--/newTransaction-->

        <form method="post" action="/insertNewTransaction">

            <h2>Select Client:</h2>
            <input type="text" id="select-client-text-input" name="selectedClientID"/>

            <h2>Insert product IDs in list:</h2>

            <input type="text" id="select-products-text-input" name="selectedProductIDs"
                   placeholder="Selected Product IDs"/>
            <br>
            <input type="text" id="transaction-status-text-input" name="transactionStatus"
                   placeholder="Transaction Status"/>
            <br>
            <input type="text" id="transaction-special-mentions-text-input" name="transactionSpecialMentions"
                   placeholder="Special Mentions"/>

            <input type="submit" id="select-button" value="Buy"/>
        </form>

        <br>
        <form method="get" action="/justTesting">
            <input type="submit" id="test-submit" value="FML TEST">
        </form>
    </div>
</div>

<div class="row" style="background-color:#FFCE00;">
    <div class="column">
        <div class="container">
            <div th:if="${not #lists.isEmpty(transactions)}">
                <h2>Transactions: </h2>
                <table class="table table-striped">
                    <tr>
                        <th>Transaction Id</th>
                        <th>Client Id</th>
                        <th>Transaction Status</th>
                        <th>Special Mentions</th>
                        <th>Local Date</th>
                    </tr>

                    <tr th:each="transaction : ${transactions}">
                        <td th:text="${transaction.transactionID}"></td>
                        <td th:text="${transaction.clientID}"></td>
                        <td th:text="${transaction.transactionStatus}"></td>
                        <td th:text="${transaction.specialMentions}"></td>
                        <td th:text="${transaction.localDate}"></td>
                    </tr>

                </table>
            </div>


        </div>

    </div>


    <div class="column">
        <form action="/deleteTransaction" method="get">
            <h2>Insert transaction IDs in list to delete:</h2>

            <input type="text" id="delete-transactions-text-input" name="selectedTransactionID" placeholder="Transaction IDs"/>
            <br>
            <input type="submit" id="delete-transaction-button" value="Delete lé Transaction"/>
        </form>
    </div>
</div>

</body>
</html>
